body{
	padding-top: 50px;
}
a{
	text-decoration: none;
	color: #f60;
}
a:hover{
	color:#f30;
}
input{
	outline: none;
	height: 27px;
}
textarea{
	outline: none;
}
button{
	height: 28px;
	background: #f60;
	color:#fff;
	border: solid 1px #f30;
}
form{
	display: inline;
}
.nav{
	height: 50px;
	background-color: #f7f7f7;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
}
.nav a{
	float: left;
	display: inline-block;
	padding: 0 30px;
	line-height: 50px;
	font-size: 16px;
	color: #333;
	border-bottom: solid 1px #e7e7e7;
}
.nav a:hover{
	/*background-color: #efefef;*/
	color: #f40;
}
.nav a.brand{
	font-size: 20px;
	color:#f40;
	font-weight: bold;
	padding: 0 10px;
}
.nav a.brand:hover{
	background-color: #f7f7f7;
}
.nav a.active{
	background-color: #f40;
	color: #fff;
}
.action{
	margin-top: 10px;
	padding: 0 10px;
}
.action a{
	padding: 2px 6px;
	display: inline-block;
	font-size: 12px;
}
.action a.active{
	background-color: #f60;
	color: #fff;
}
.container{
	margin-top: 10px;
	padding: 0 10px;
}
table{
	border: solid 1px #e7e7e7;
	width: 100%;
	color: #666;
}
table a{
	font-size: 12px;
}
table th, table td{
	text-align: left;
	font-size: 14px;
	border: solid 1px #e7e7e7;
	text-indent: 10px;
	padding: 10px 0;
	border-top: solid 1px #c5c5c5;
}
table tr:hover{
	background-color: #f8f8f8;
}
.errors{
	background-color: #feb;
	padding: 0 10px;
}
.settlement-nav a{

}